# GX team is a default owner of whole codebase. Any file without specific ownership will fallback to them.
*                               @MewsSystems/tech-fe-bookingengine-owners

# Public Booking Engine API documentation falls under Connectivity
/booking-engine-api             @MewsSystems/tech-fe-connectivity-owners
